<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>

        </form>
        <form class="login-form">
            <input type="text" [(ngModel)]="user.email " name="email " #email="ngModel" placeholder="email " />
            <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="password" />
            <button (click)="logindd();">login</button>
            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
            <p><a routerLink="/forgote">Forgot Password?</a></p>
            <p class="message"><button (click)="signInWithFB('facebook')" class="btn btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook</button></p>

            <p class="message"><button (click)="signInWithGoogle()" class="btn btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google</button></p>
            <!-- <p class="message">
                <button class="btn btn-danger" (click)="signOut()">Sign out</button>
            </p> -->
        </form>
    </div>
</div>