<div class="app flex-row align-items-center ch-all-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4 ch-bg">
                    <div class="card-body p-4 ">
                        <div class="text-center mb-4">
                            <img class="reglogo" src="assets/img/logo1.png" alt="" />
                        </div>
                        <h4 class="mb-3">Change Password</h4>
                        <p class="text-muted"></p>
                        <form name="newpasswordForm" #newpasswordForm="ngForm" novalidate>
                            <!-- <p class="help-block" style="color: red;"
                                *ngIf="password.errors && (password.touched || password.dirty && password.errors?.notEqual && newpasswordForm.submitted)">
                                Password is required</p> -->
                            <p class="help-block" style="color: red;" [hidden]="password.valid || ( password.touched || password.pristine && 
                                !newpasswordForm.submitted)">
                                Password is required
                            </p>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" (change)="confirmPassword.control.updateValueAndValidity()" placeholder="Enter New password" required>
                            </div>
                            <!-- <p class="help-block" style="color: red;"
                                *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.required && newpasswordForm.submitted)">
                                Password is required</p>
                                <p class="help-block" style="color: red;"
                                *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required)">
                                Password is not match</p> -->
                            <p class="help-block" style="color: red;" [hidden]="confirmPassword.valid || 
                                (confirmPassword.pristine && !newpasswordForm.submitted)">
                                Password mismatch
                            </p>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" validateEqual="password" placeholder="Confirm New password" (change)="password.control.updateValueAndValidity()" required>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" (click)="changePassword()" class="btn btn-block btn-ch mb-3">Submit</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-ch" routerLink="/login">Cancel</button>
                            </div>
                        </div>


                        <div class="text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->